{% extends '_base.twig' %}

{% block content %}
<main>
    <h1>Coffee</h1>
    <p>We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy and never boring. We bring you the best from leading european specialty roasteries, currently mostly from Square Mile Coffee Roasters, a multi award winning coffee roasting company based in East London.</p>
    <p> You can currently buy these beans in 350g bags </p>

    <div class="card" style="width: 20rem;">
        <div class="card-header jb-roboto text-uppercase">
        Quejina (guatemala)
        </div>
        <img class="card-img-top" src="img/coffee.png" alt="Card image cap">
        <div class="card-body">
            <i class="card-title">redcurrant/ honeysuckle/ juicy</i>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</main>
{% endblock %}