{% extends '_base.twig' %}

{% block content %}
<main class="mt-3">
    <h1 class="jb-roboto jb-fs-xl text-uppercase">Coffee</h1>
    <p class="jb-roboto jb-fs-s">We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy and never boring. We bring you the best from leading european specialty roasteries, currently mostly from Square Mile Coffee Roasters, a multi award winning coffee roasting company based in East London.</p>
    <p class="jb-roboto"> You can currently buy these beans in 350g bags </p>
        
{# COFFEE CARD #1 #}

    <div class="card-group">
        <div class="card mr-3 mb-3">
            <div class="card-header jb-roboto text-uppercase">
            <p class="jb-fs-m">Quejina (guatemala)</p>
            </div>
            <img class="card-img-top" src="img/coffee.png" alt="Card image cap">
            <div class="card-body jb-roboto">
                <small><i class="card-title">redcurrant/ honeysuckle/ juicy</i></small>
                <p class="card-text mt-2">Fruity redcurrant and sweet honeysuckle flavours. An incredibly juicy coffee which we struggled to decide on the right berry descriptor, but raspberry, blackberry and blueberry were also in the running! </p>
            </div>
        </div>

{# COFFEE CARD #2 #}

        <div class="card mr-3 mb-3">
            <div class="card-header jb-roboto text-uppercase">
            <p class="jb-fs-m">Mormora (Ethiopia) </p>
            </div>
            <img class="card-img-top" src="img/smcr-mormora.jpg" alt="Card image cap">
            <div class="card-body jb-roboto">
                <small><i class="card-title">blackberry/ orange/ silky</i></small>
                <p class="card-text mt-2">Fruity, sweet notes of dried mango, strawberry and passionfruit sit alongside a delicious creamy mouthfeel making this a tasty summer Ethiopian, hot or cold. </p>
            </div>
        </div>
    </div>
    
{# COFFEE CARD #3 #}

    <div class="card-group">
        <div class="card mr-3 mb-3">
            <div class="card-header jb-roboto text-uppercase">
            <p class="jb-fs-m">Kamwangi (Kenya)</p>
            </div>
            <img class="card-img-top" src="img/smcr-kamwangi.jpg" alt="Card image cap">
            <div class="card-body jb-roboto">
                <small><i class="card-title">blackberry/ orange/ silky  </i></small>
                <p class="card-text mt-2">This is one fruit filled espresso! From citrus fruits, such as orange, grapefruit and clementine, to berries of the black, blue and red variety, this is fruit turned up to 11, all wrapped up in a silky smooth body.</p>
            </div>
        </div>

{# COFFEE CARD #5 #}

        <div class="card mr-3 mb-3">
            <div class="card-header jb-roboto text-uppercase">
            <p class="jb-fs-m">Decaf Espresso (El Salvador)</p>
            </div>
            <img class="card-img-top" src="img/smcr-decaf-espresso.jpg" alt="Card image cap">
            <div class="card-body jb-roboto">
                <small><i class="card-title">caramel/ apple/ cinnamon </i></small>
                <p class="card-text mt-2">This is a single origin espresso from San Carlos in El Salvador, think sweet caramel and apple notes alongside sprinklings of cinnamon in the finish.  </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}