{% extends '_base.twig' %} {% block content %}
<main>
    <h1 class="px-3">Generic Hipster Coffee</h1>
    <h2 class="px-3">Speciality Coffee, Fresh Food & Local Community.</h2>
        <div class="my-4 mx-3">
            <img src="/img/counter.jpg" class="img-fluid" alt="counter">
        </div>
        <div class="container px-3">
            <div class="row">
                <div class="col-md-4">
                    <h3>Opening Hours</h3>
                    <p>sunday-thursday: 8:00-23:00 <br>friday-saturday: 8:00-1:00</p>
                </div>
                <div class="col-md-4">
                    <h3>Book a Table</h3>
                    <p>Call +1 415-321-4567</p>
                </div>
                <div class="col-md-4">
                    <h3>Address</h3>
                    <p>321 Ivy St.<br>San Francisco CA 94102</p>
                </div>
            </div>
            <div class="pt-3">
                <img src="/img/map.jpg" class="img-fluid" alt="map">
            </div>
        </div>
</main>
{% endblock %}