{% extends '_base.twig' %} {% block content %}
<main>
    <h1 class="px-3 jb-roboto text-uppercase jb-fs-l mt-3">Generic Hipster Coffee</h1>
    <h2 class="px-3 jb-roboto jb-fs-m">Speciality Coffee, Fresh Food & Local Community.</h2>
        <div class="my-4 mx-3">
            <img src="/img/counter.jpg" class="img-fluid" alt="counter">
        </div>
        <div class="container px-3">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="jb-roboto jb-fs-m">Opening Hours</h3>
                    <p class="jb-roboto">sunday-thursday: 8:00-23:00 <br>friday-saturday: 8:00-1:00</p>
                </div>
                <div class="col-md-4">
                    <h3 class="jb-roboto jb-fs-m">Book a Table</h3>
                    <p class="jb-roboto">Call +1 415-321-4567</p>
                </div>
                <div class="col-md-4">
                    <h3 class="jb-roboto jb-fs-m">Address</h3>
                    <p class="jb-roboto">321 Ivy St.<br>San Francisco CA 94102</p>
                </div>
            </div>
            <div class="pt-3">
                <img src="/img/mapp.jpg" class="img-fluid jb-bottom" alt="map">
            </div>
        </div>
</main>
{% endblock %}