{% extends '_base.twig' %}


{% block content %}
   <main>
        <h2>Menu</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-6-md">
                        <h3>Espresso coffee</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-6-md">
                        <h3>Filter coffee</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h3>Coffee specialities</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-6-md">
                        <h3>Iced</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-6-md">
                        <h3>Hot</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        <h2>Non-alcoholic beverages</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-6-md">
                        <h3>Lemonades</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-6-md">
                        <h3>Water</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>Espresso</p>
                                        </li>
                                        <li>
                                            <p>Doubleespresso</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <p>3.8</p>
                                        </li>
                                        <li>
                                            <p>4.9</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img src="img/espresso-machine-detail.jpg" alt="coffee brewing">
                    </div>
                </div>
            </div>
   </main>
{% endblock %}