{% extends '_base.twig' %}


{% block content %}
<main>
    <img src="img/espresso-machine.jpg" class="img-fluid w-100 h-auto" alt="story image">
    <div class="mx-2">
        <h2 class="text-uppercase jb-roboto jb-fs-l my-4">It is good because we care</h2>
        <p class="jb-roboto jb-fs-s my-3">
        we care about high quality coffee, food and great people around us. also we feel a commitment to our local hood Vrsovice.
        <br><br>
        café jen started as a project of two friends and baristas, Dominika & Hanka, four years ago. since then we have adopted many charismatic people who make our place what it is. and we are grateful for that.
        </p>
        <h2 class="text-uppercase jb-roboto jb-fs-l my-4">Our story behind</h2>
        <p class="jb-roboto jb-fs-s my-3">
        the idea to create a casual local coffee shop with specialty coffee from european roasteries, big breakfasts and homemade cakes had been in our heads for a long time. while studying at university we spent hours and hours experimenting, tasting and debating both food and coffee. while travelling around the world we got super inspired by local spots and we wanted to have one place like this here in prague.
        <br><br>
        during the fall of 2012 we decided that we would make this idea happen and with great enthusiasm we created café jen, here in vršovice. why vršovice? well you know that some time you hit on some place and you just feel it is the right place to be and this is exactly what happened to us here on Kodanska street.
        <br><br>
        from day one we have walked a long way and every day we work hard to make this place better for you and for us. everyday is different here and that is what we enjoy the most.
        </p>
    </div>
</main>
{% endblock %}