.body_width {
    max-width: 1000px;
    margin: 0 auto;
}
.navbarwidth {
    max-width: 1090px;
    margin: 0 auto;
}

.jb-menu li {
    display: flex;
}

.jb-roboto {
    font-family: 'Roboto', sans-serif;
}

.jb-bottom {
    margin-bottom: -15px;
}