.body_width {
    max-width: 1000px;
    margin: 0 auto;
}
.navbarwidth {
    max-width: 1090px;
    margin: 0 auto;
}

.jb-menu li {
    display: flex;
}

.jb-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.jb-bottom {
    margin-bottom: -15px;
}

.jb-fs-s {
    font-size: 1em;
}

.jb-fs-m {
    font-size: 1.75em;
}

.jb-fs-l {
    font-size: 2em;
}

.jb-fs-xl {
    font-size: 2.5em;
}
.jb-fs-xs {
    font-size: 14px;
}